* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}

body {
    background-color: #182040;
    color: white;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
}

#timer {
    font-size: 40px;
    font-family: digital, "Pixelify Sans", sans-serif;
    font-weight: 900;
    margin-top: 20px;
    background-color: #090000;
    color: #fa4662;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

h3 {
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.score {
    padding: 10px 60px;
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #090000;
    color: #fa4662;
    font-family: digital, "Pixelify Sans", sans-serif;
}

.btn button {
    margin: 10px 2px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: digital, "Pixelify Sans", sans-serif;
    background-color: #182040;
    color: white;
}

.add-btn button {
    border: 2px solid #4CAF50;
}

.remove-btn button {
    border: 2px solid #981919;
}

.btn button:hover {
    background-color: #4CAF50;
    color: white;
}

.remove-btn button:hover {
    background-color: #981919;
    color: white;
}

.reset-btn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ff9800;
    background-color: #182040;
    color: white;
    cursor: pointer;
    font-family: digital, "Pixelify Sans", sans-serif;
}

.reset-btn:hover {
    background-color: #ff9800;
    color: white;
}

.start-btn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #2196F3;
    background-color: #182040;
    color: white;
    cursor: pointer;
    font-family: digital, "Pixelify Sans", sans-serif;
}

.stop-btn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #f44336;
    background-color: #182040;
    color: white;
    cursor: pointer;
    font-family: digital, "Pixelify Sans", sans-serif;
}